In [1]:
import pandas as pd
credit_record = pd.read_csv("credit_record.csv")
credit_record.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [2]:
application_record = pd.read_csv("application_record.csv")
application_record.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [3]:
pt=pd.pivot_table(data=credit_record,index='ID',columns='STATUS',values='MONTHS_BALANCE',aggfunc='count',fill_value=0)
pt['total_delinquent']=pt.iloc[:,1]+pt.iloc[:,2]+pt.iloc[:,3]+pt.iloc[:,4]+pt.iloc[:,5]
pt['target']=pt['total_delinquent'].apply(lambda x:1 if x!=0 else 0)
pt.head()

STATUS    0  1  2  3  4  5  C   X  total_delinquent  target
ID
5001711   3  0  0  0  0  0  0   1                 0       0
5001712  10  0  0  0  0  0  9   0                 0       0
5001713   0  0  0  0  0  0  0  22                 0       0
5001714   0  0  0  0  0  0  0  15                 0       0
5001715   0  0  0  0  0  0  0  60                 0       0

In [4]:
pt = pt[['target']]

In [5]:
pt.shape

(45985, 1)

In [6]:
credit_record.shape

(1048575, 3)

In [7]:
application_record.shape

(438557, 18)

In [8]:
final = pd.merge(pt,application_record,on='ID')
final.shape

(36457, 19)

In [9]:
final = final.drop('ID',axis=1)
final.head()

,target,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,1,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,1,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,0,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,0,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,0,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [10]:
import sweetviz as sv
sweet_report = sv.analyze(final)
sweet_report.show_html('sweet_report.html')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=19.0), HTML(value='')), l…

Report sweet_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [11]:
import pandas as pd
from pandas_profiling import ProfileReport
design_report = ProfileReport(final)
design_report.to_file(output_file='report.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=31.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [33]:
import dtale
import pandas as pd
d = dtale.show(final)
d.open_browser()

In [11]:
X = final.drop('target',axis=1)
y = final['target']
from xverse.transformer import WOE
clf = WOE()
clf.fit(X, y)

WOE(mono_custom_binning={'AMT_INCOME_TOTAL': array([  27000.,  135000.,  202500., 1575000.]),
                         'CNT_CHILDREN': array([ 0.,  1., 19.]),
                         'CNT_FAM_MEMBERS': array([ 1.,  2., 20.]),
                         'DAYS_BIRTH': array([-25152., -18085., -13545.,  -7489.]),
                         'DAYS_EMPLOYED': array([-15713.,  -2512.,   -762., 365243.]),
                         'FLAG_EMAIL': array([0., 1.]),
                         'FLAG_MOBIL': array([1.]),
                         'FLAG_PHONE': array([0., 1.]),
                         'FLAG_...
                                  'Low-skill Laborers': 0.5550706919292876,
                                  'Managers': 0.10884426286411482,
                                  'Medicine staff': 0.15732562042824635,
                                  'NA': -0.11623544902968029,
                                  'Private service staff': -0.6691189041220243,
                                  'Realty agents': 0.0828687764608545,
                                  'Sales staff': -0.05989670302710344,
                                  'Secretaries': -0.3479141396315999,
                                  'Security staff': 0.3086435934960534,
                                  'Waiters/barmen staff': -0.08459594968873815}})

In [12]:
X = clf.transform(X)
X

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,0.090813,-0.042655,-0.062117,-0.016592,0.092374,-0.017516,-0.012749,0.064983,0.191859,0.130236,0.011547,0.0,-0.000857,0.012689,-0.019294,-0.116235,-0.009197
1,0.090813,-0.042655,-0.062117,-0.016592,0.092374,-0.017516,-0.012749,0.064983,0.191859,0.130236,0.011547,0.0,-0.000857,0.012689,-0.019294,-0.116235,-0.009197
2,0.090813,-0.042655,-0.062117,-0.016592,-0.041559,-0.017516,-0.010246,-0.013198,-0.014551,-0.079759,0.031467,0.0,0.000250,0.012689,-0.019294,0.308644,-0.009197
3,-0.047125,0.025439,-0.062117,-0.016592,0.092374,0.088521,-0.010246,0.104669,-0.014551,-0.079759,0.011547,0.0,0.000250,-0.030863,0.181365,-0.059897,-0.009197
4,-0.047125,0.025439,-0.062117,-0.016592,0.092374,0.088521,-0.010246,0.104669,-0.014551,-0.079759,0.011547,0.0,0.000250,-0.030863,0.181365,-0.059897,-0.009197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,-0.047125,-0.042655,-0.062117,-0.016592,-0.046371,-0.017516,-0.010246,-0.013198,-0.014551,0.130236,0.031467,0.0,0.000250,0.012689,-0.019294,0.103968,0.024002
36453,-0.047125,-0.042655,-0.062117,-0.016592,-0.046371,-0.017516,-0.010246,-0.013198,-0.014551,0.130236,0.031467,0.0,0.000250,0.012689,-0.019294,0.103968,0.024002
36454,-0.047125,-0.042655,-0.062117,-0.016592,-0.046371,-0.017516,-0.010246,-0.013198,-0.014551,0.130236,0.031467,0.0,0.000250,0.012689,-0.019294,0.103968,0.024002
36455,-0.047125,-0.042655,-0.062117,-0.016592,-0.046371,-0.017516,-0.010246,-0.013198,-0.014551,0.130236,0.031467,0.0,0.000250,0.012689,-0.019294,0.103968,0.024002
36456,0.090813,-0.042655,0.118873,-0.016592,-0.046371,-0.017516,-0.010246,-0.013198,-0.014551,-0.079759,0.031467,0.0,0.000250,0.012689,-0.019294,0.054509,-0.009197

In [13]:
clf.woe_df.head(50)

,Variable_Name,Category,Count,Event,Non_Event,Event_Rate,Non_Event_Rate,Event_Distribution,Non_Event_Distribution,WOE,Information_Value
0,AMT_INCOME_TOTAL,"(26999.999, 135000.0]",14473,1642,12831,0.113453,0.886547,0.382661,0.398899,-0.041559,4.030229e-03
1,AMT_INCOME_TOTAL,"(135000.0, 202500.0]",10702,1209,9493,0.112970,0.887030,0.281753,0.295125,-0.046371,4.030229e-03
2,AMT_INCOME_TOTAL,"(202500.0, 1575000.0]",11282,1440,9842,0.127637,0.872363,0.335586,0.305975,0.092374,4.030229e-03
3,CNT_CHILDREN,"(-0.001, 1.0]",32693,3792,28901,0.115988,0.884012,0.883710,0.898495,-0.016592,2.255834e-03
4,CNT_CHILDREN,"(1.0, 19.0]",3764,499,3265,0.132572,0.867428,0.116290,0.101505,0.135981,2.255834e-03
5,CNT_FAM_MEMBERS,"(0.999, 2.0]",26450,3088,23362,0.116749,0.883251,0.719646,0.726295,-0.009197,2.207454e-04
6,CNT_FAM_MEMBERS,"(2.0, 20.0]",10007,1203,8804,0.120216,0.879784,0.280354,0.273705,0.024002,2.207454e-04
7,CODE_GENDER,F,24430,2758,21672,0.112894,0.887106,0.642741,0.673755,-0.047125,4.278055e-03
8,CODE_GENDER,M,12027,1533,10494,0.127463,0.872537,0.357259,0.326245,0.090813,4.278055e-03
9,DAYS_BIRTH,"(-25152.001, -18085.0]",12155,1333,10822,0.109667,0.890333,0.310650,0.336442,-0.079759,9.205405e-03
10,DAYS_BIRTH,"(-18085.0, -13545.0]",12150,1355,10795,0.111523,0.888477,0.315777,0.335603,-0.060891,9.205405e-03
11,DAYS_BIRTH,"(-13545.0, -7489.0]",12152,1603,10549,0.131912,0.868088,0.373573,0.327955,0.130236,9.205405e-03
12,DAYS_EMPLOYED,"(-15713.001, -2512.0]",12161,1446,10715,0.118905,0.881095,0.336984,0.333116,0.011547,1.018636e-03
13,DAYS_EMPLOYED,"(-2512.0, -762.0]",12148,1470,10678,0.121008,0.878992,0.342577,0.331965,0.031467,1.018636e-03
14,DAYS_EMPLOYED,"(-762.0, 365243.0]",12148,1375,10773,0.113187,0.886813,0.320438,0.334919,-0.044199,1.018636e-03
15,FLAG_EMAIL,0,33186,3840,29346,0.115711,0.884289,0.894896,0.912330,-0.019294,3.498189e-03
16,FLAG_EMAIL,1,3271,451,2820,0.137878,0.862122,0.105104,0.087670,0.181365,3.498189e-03
17,FLAG_MOBIL,1,36457,4291,32166,0.117700,0.882300,1.000000,1.000000,0.000000,0.000000e+00
18,FLAG_OWN_CAR,N,22614,2722,19892,0.120368,0.879632,0.634351,0.618417,0.025439,1.085010e-03
19,FLAG_OWN_CAR,Y,13843,1569,12274,0.113342,0.886658,0.365649,0.381583,-0.042655,1.085010e-03
20,FLAG_OWN_REALTY,N,11951,1561,10390,0.130617,0.869383,0.363785,0.323012,0.118873,7.379454e-03
21,FLAG_OWN_REALTY,Y,24506,2730,21776,0.111401,0.888599,0.636215,0.676988,-0.062117,7.379454e-03
22,FLAG_PHONE,0,25709,3060,22649,0.119024,0.880976,0.713120,0.704129,0.012689,3.916157e-04
23,FLAG_PHONE,1,10748,1231,9517,0.114533,0.885467,0.286880,0.295871,-0.030863,3.916157e-04
24,FLAG_WORK_PHONE,0,28235,3324,24911,0.117726,0.882274,0.774645,0.774451,0.000250,2.140207e-07
25,FLAG_WORK_PHONE,1,8222,967,7255,0.117611,0.882389,0.225355,0.225549,-0.000857,2.140207e-07
26,NAME_EDUCATION_TYPE,Academic degree,32,7,25,0.218750,0.781250,0.001631,0.000777,0.741425,3.688007e-03
27,NAME_EDUCATION_TYPE,Higher education,9864,1148,8716,0.116383,0.883617,0.267537,0.270969,-0.012749,3.688007e-03
28,NAME_EDUCATION_TYPE,Incomplete higher,1410,207,1203,0.146809,0.853191,0.048241,0.037400,0.254535,3.688007e-03
29,NAME_EDUCATION_TYPE,Lower secondary,374,39,335,0.104278,0.895722,0.009089,0.010415,-0.136179,3.688007e-03
30,NAME_EDUCATION_TYPE,Secondary / secondary special,24777,2890,21887,0.116640,0.883360,0.673503,0.680439,-0.010246,3.688007e-03
31,NAME_FAMILY_STATUS,Civil marriage,2945,367,2578,0.124618,0.875382,0.085528,0.080147,0.064983,3.201728e-03
32,NAME_FAMILY_STATUS,Married,25048,2914,22134,0.116337,0.883663,0.679096,0.688118,-0.013198,3.201728e-03
33,NAME_FAMILY_STATUS,Separated,2103,225,1878,0.106990,0.893010,0.052435,0.058385,-0.107472,3.201728e-03
34,NAME_FAMILY_STATUS,Single / not married,4829,623,4206,0.129012,0.870988,0.145188,0.130759,0.104669,3.201728e-03
35,NAME_FAMILY_STATUS,Widow,1532,162,1370,0.105744,0.894256,0.037753,0.042592,-0.120579,3.201728e-03
36,NAME_HOUSING_TYPE,Co-op apartment,168,14,154,0.083333,0.916667,0.003263,0.004788,-0.383505,2.932963e-03
37,NAME_HOUSING_TYPE,House / apartment,32548,3782,28766,0.116198,0.883802,0.881380,0.894298,-0.014551,2.932963e-03
38,NAME_HOUSING_TYPE,Municipal apartment,1128,150,978,0.132979,0.867021,0.034957,0.030405,0.139516,2.932963e-03
39,NAME_HOUSING_TYPE,Office apartment,262,38,224,0.145038,0.854962,0.008856,0.006964,0.240330,2.932963e-03
40,NAME_HOUSING_TYPE,Rented apartment,575,80,495,0.139130,0.860870,0.018644,0.015389,0.191859,2.932963e-03
41,NAME_HOUSING_TYPE,With parents,1776,227,1549,0.127815,0.872185,0.052901,0.048156,0.093975,2.932963e-03
42,NAME_INCOME_TYPE,Commercial associate,8490,1080,7410,0.127208,0.872792,0.251690,0.230367,0.088521,5.784906e-03
43,NAME_INCOME_TYPE,Pensioner,6152,644,5508,0.104681,0.895319,0.150082,0.171237,-0.131868,5.784906e-03
44,NAME_INCOME_TYPE,State servant,2985,385,2600,0.128978,0.871022,0.089723,0.080831,0.104367,5.784906e-03
45,NAME_INCOME_TYPE,Student,11,1,10,0.090909,0.909091,0.000233,0.000311,-0.288195,5.784906e-03
46,NAME_INCOME_TYPE,Working,18819,2181,16638,0.115894,0.884106,0.508273,0.517254,-0.017516,5.784906e-03
47,OCCUPATION_TYPE,Accountants,1241,147,1094,0.118453,0.881547,0.034258,0.034011,0.007227,1.668445e-02
48,OCCUPATION_TYPE,Cleaning staff,551,63,488,0.114338,0.885662,0.014682,0.015171,-0.032790,1.668445e-02
49,OCCUPATION_TYPE,Cooking staff,655,86,569,0.131298,0.868702,0.020042,0.017689,0.124857,1.668445e-02

In [14]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size= .20,random_state=20)
clf = WOE()
clf.fit(Xtrain, ytrain)
Xtrain = clf.transform(Xtrain)
Xtest = clf.transform(Xtest)